@charset "utf-8";

/**
 * 键盘样式
 */

.ui-keyboard {
    * {
        box-sizing: border-box;
    }
    // 外层容器
    &-wrapper {
        -webkit-user-select: none;
        user-select: none;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        width: 100%;
        height: auto;
        background: #fff;
        border-top: 1px solid #e5e5e5;
    }
    &-top {
        position: relative;
        border-bottom: 1px solid #e5e5e5;
    }
    &-title {
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        color: #434c67;
    }
    // &-pane {}
    // 收起键盘
    &-close {
        position: absolute;
        width: 54px;
        height: 45px;
        right: 0;
        top: 0;
        &:before {
            content: '收起';
            display: inline-block;
            position: absolute;
            right: 15px;
            top: 13px;
            width: 22px;
            height: 19px;
        }
    }
    // 切换输入法
    &-methods {
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 15px;
        a {
            line-height: 30px;
            font-size: 12px;
            color: #42b983;
            & + a {
                margin-left: 10px;
            }
        }
    }
    //
    table {
        border-collapse: collapse;
        text-align: center;
        width: 100%;
        border-style: hidden;
        // 强制宽度平均分配
        table-layout: fixed;
    }
    td {
        border: 1px solid #e5e5e5;
    }
}

app-keyboard-key {
    display: block;
}
