/**
 * 键盘按键样式
 */

.btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #666;
    font-weight: bold;
    width: 100%;
    height: 54px;
    &-clear,
    &-submit {
        font-size: 18px;
        font-weight: normal;
    }
    &-roman10 {
        font-weight: normal;
        text-transform: lowercase;
    }
    &-shift {
        // shift换挡状态
        &.shift {
            color: #85918b;
        }
    }
    &:active {
        background-color: #42b983;
        color: #fff;
    }
    &.ui-keyboard-key-undefined {
        cursor: default;
        &:active {
            background-color: #fff;
            color: #85918b;
        }
    }
}

// 数字键盘/证件键盘 - 带完成按钮
.num,
.decimal,
.id {
    .btn {
        &-backspace,
        &-submit {
            height: 109px;
        }
        &-backspace {
            position: relative;
        }
    }
}
